---
title: Accueil
layout: default
group: navigation
permalink: /
published: true
---

<h1>Ingénieurs et scientifiques de France</h1>

<div class="row">
	<div class="col-md-8">
		<div class="important" id="headline-content">
<h2>Intégrateur de talents</h2>
			<ol>
				<li>Accompagner la recherche d'emploi</li>
				<li>Favoriser les contacts et les échanges</li>
				<li>Fédérer les Ingénieurs de Haute Normandie</li>
			</ol>
</div>
  	</div>
	
  	<div class="col-md-4">
    	<img src="images/IESF-accueil.jpg" alt="">
</div>
</div>

<h2>Le dernier bulletin</h2>
{% for post in site.posts limit:1 %}
  	<section class="list-flash"><h1>
  		<a href="{{ BASE_PATH }}{{ post.url }}">
  		{% if post.title %}
			{{ post.title }}
		{% else %}
			{% capture postnewtitle %}{{ post.url | remove:'.html' | replace:'-',' ' | split:'/' | last}}{% endcapture %}
			{{ postnewtitle }}
		{% endif %}
  	</a>
</h1>
	</section>
{% endfor %}