<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
  <title>{{ page.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ HOME_PATH }}/stylesheets/application.css">

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ HOME_PATH }}/images/favicon.ico">
	<link rel="apple-touch-icon" href="{{ HOME_PATH }}/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ HOME_PATH }}/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ HOME_PATH }}/images/apple-touch-icon-114x114.png">

</head>
<body>
 	<header class="header-main">
		<div class="container">
			<a id="top" href="/">
				<img src="/images/logo-iesf-normandie.jpg" alt="{{ site.title }}" />
				<span class="sitetitle">{{ site.title }}</span>
			</a>
			
		</div>
	</header>
 <nav class="navbar navbar-inverse" role="navigation">
   <div class="container">
  	<div class="collapse navbar-collapse navbar-ex1-collapse">
	     <ul class="nav navbar-nav">
        <!--{% assign pages_list = site.pages %}
         {% assign group = 'navigation' %}
         {% include pages_list %}-->

        {% if page.title == "Accueil" %}
            <li class="active"><a href="#">Accueil</a></li>
        {% else %}
            <li><a href="/">Accueil</a></li>
        {% endif %}
				
				{% if page.title == "Flash Info" or page.title == "Dates à retenir" %}
            <li class="active"><a class="dropdown-toggle" data-toggle="dropdown" href="/flashinfo/">Informations générales <b class="caret"></b></a>
        {% else %}
            <li>
							<a class="dropdown-toggle" data-toggle="dropdown" href="/flashinfo/">Informations générales <b class="caret"></b></a>
        {% endif %}
					<ul class="dropdown-menu">
            <li><a href="/flash-info/">Tous les flashs infos</a></li>
						<li><a href="/dates-retenir/">Dates à retenir</a></li>
          </ul>
				</li>
				
				{% if page.title == "Les objectifs" or page.title == "Le bureau" or page.title == "Les statuts"  %}
            <li class="active"><a class="dropdown-toggle" data-toggle="dropdown" href="/objectifs/">Présentation de IESF-HN <b class="caret"></b></a>
        {% else %}
            <li>
							<a class="dropdown-toggle" data-toggle="dropdown" href="/objectifs/">Présentation de IESF-HN <b class="caret"></b></a>
        {% endif %}
					<ul class="dropdown-menu">
            <li><a href="/objectifs/">Les objectifs</a></li>
						<li><a href="/bureau/">Le bureau</a></li>
						<li><a href="/statuts/">Les statuts</a></li>
          </ul>
				</li>
				{% if page.title == "Contactez-nous" or page.title == "Le métier d'ingénieur" or page.title == "Adhésion" %}
            <li class="active"><a class="dropdown-toggle" data-toggle="dropdown" href="/contact/">Nous joindre <b class="caret"></b></a>
        {% else %}
            <li>
							<a class="dropdown-toggle" data-toggle="dropdown" href="/contact/">Contactez nous <b class="caret"></b></a>
        {% endif %}
						<ul class="dropdown-menu">
							<li><a href="/contact/">Nous joindre</a></li>
		          <li><a href="/ingenieur/">Le métier d'ingénieur</a></li>
							<li><a href="/adhesion/">Adhésion</a></li>
		        </ul>
					</li>
       </ul>
	  </div>
	</div>
</nav>


	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">

    {{ content }}

	</div><!-- container -->



	<!-- JS
	================================================== -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/javascripts/dropdown.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		      if (target.length) {
		        $('html,body').animate({
		          scrollTop: target.offset().top
		        }, 500);
		        return false;
		      }
		    }
		  });
		});
	</script>
	

<!-- End Document
================================================== -->
</body>
</html>
